<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add to Cart</title>
</head>
<body>
<h1>Add To Cart</h1>
<hr>
<h2 th:text="'Welcome '+${session.customer.User_Name}+'!'"></h2>
<hr>
<br>

<h2>Items Available</h2>
<table border="1">
	<tr>
		<th>Item ID</th>
		<th>Item Name</th>
		<th>Category</th>
		<th>Quantity</th>
		<th>Price</th>		
	</tr>
	<tr th:each="item : ${itemList}">
		<td th:text="${item.item_ID}"></td>
		<td th:text="${item.item_Name}"></td>
		<td th:text="${item.item_Category}"></td>
		<td th:text="${item.item_Quantity}"></td>
		<td th:text="${item.item_Price}"></td>		
	</tr>
</table>


<br><br>
<form action="#" method="post" th:action="@{./saveItem}" th:object="${newTrans}" >

	
	<br><br>
	Select Item Id : <select th:field="*{item_ID}">
	<option th:each="id : ${item_Ids}" th:value="${id}" th:label="${id}">
	</select>
	
	<br><br>	
	
	Enter Quantity : <input type="number" th:field="*{quantity}"><br><br>
			
	<input type="submit" value="Add Item">
</form>

<br><br>

<a href="./Cart">Go To Cart</a>
</body>
</html>